<% title "About San Beda College" %>



<div class="sad_form">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>History</h1>
<div class="story"><img src="../images/altar.jpg" alt="" height="144" class="right" />
Named after the Venerable Bede of England, San Beda College was established by Spanish Benedictine monks in Manila during the onset of the American colonial era. Prior to this, there were thirteen Benedictine monks from the Abbey of Our Lady of Montserrat in Spain who arrived in the Philippines in 1895. As Americans slowly but successfully began to colonize the Islands, the Benedictine monks, feared the spread of Protestantism, began to contemplate the idea of establishing a school dedicated to propagate and defend the Catholic faith. This vision was realized in 1901, when the monks already transferred to Manila and founded the El Colegio de San Beda. The inauguration of San Beda was June 17, 1901.The school opened exclusively for young boys with 212 students taking primaria enseñanza and secundaria enseñanza, the equivalent respectively of grade school and high school with the first two years of college.
</div>
<h1>Mission Vision</h1>
<div class="story"><img src="../images/sbc.jpg" alt="" height="100" class="left" />
The College of Arts and Sciences at San Beda College will be recognized nationally for its excellence in teaching and research and as a leading intellectual and creative resource to the communities it serves.
The high quality instruction, research and creative work at the College of Arts and Sciences by a mix of academically and professionally qualified faculty are integral to the total educational experience of its students.  Teachers use and manage class activities as their platform for empowering conversations that allow students to interact, think analytically, articulate ideas confidently, engage and contribute productively in discussions, explore answers collaboratively, and take the risk of being proven wrong.  Teachers give much-needed attention to sharpening mechanisms that can accurately measure and assess student learning and to rectifying instruction and processes whenever there is evidence of learning weakness. Even as specialized degree programs provide the SBC students with foundation-level technical, analytical and strategic knowledge and skills needed for successful professional practice, the primordial thrust of education in the College of Arts and Sciences is directed at the higher goal of forming young men and women as caring and compassionate individuals and responsible citizens.

</div>

<div class="story">
<table border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="justify" valign="top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="justify" valign="top" bgcolor="#A40000"><div align="center"><strong><a name="top" id="top"></a><span class="titlecolor">SCHOOL OFFICIALS<br>
                      Academic Year 2013-2014</span></strong></div></td>
                  </tr>
                  <tr>
                    <td align="justify" valign="top"><p align="center">&nbsp;</p>
                      <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Rector-President</strong></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Very    Rev. Fr. Aloysius Ma. A. Maranan, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Executive Assistant to the    Rector-President</strong></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Rev.    Fr. Basil  C. Apostol, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Vice-Rector (<em>Rizal Campus</em>)</strong></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Rev.    Fr. Paul Ma. M. De Vera, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Institutional Campus Ministry Office</strong></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Head<strong></strong></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Very Rev.    Fr. Aloysius Ma. A. Maranan, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Coordinators</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Rev.    Fr. Aelred&nbsp;  U. Nilo, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Rev.    Fr. Rembert  C. Tumbali, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Chaplain <em>(Rizal Campus)</em></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Rev.    Fr. Paul Ma. M. De Vera, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Chaplain<em> (Senior Athletics)</em></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Rev.    Fr. Basil Ma. C. Apostol, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Chaplain <em>(Junior Athletics)</em></p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Rev.    Dom Clement Ma. H. Roque, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Mission and Identity Office</strong></p></td>
                          <td width="18" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Head&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Mr.    Jerry Anton C. Flores</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Research, Planning and Resource    Development Center</strong></p></td>
                          <td width="18" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Director</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Dr.    Ramon Benedicto N. Marcelino</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Manager</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Dr.    Tita E. Branzuela</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Associate</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Mr.    Joel G. Filamor</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Human Resource Management Office</strong></p></td>
                          <td width="18" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Officer&nbsp; </p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Mr.    Leonardo V. Alcantara, Jr.</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Public Relations Office</strong></p></td>
                          <td width="18" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Head</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Dr.    Joffre M. Alajar</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Campus Network</strong></p></td>
                          <td width="18" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Head&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Ms.    Rosemarie M. Perreras</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Institutional Community Involvement    Center</strong></p></td>
                          <td width="18" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Head&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Dr.    James Loreto C. Piscos</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="347" colspan="2" valign="top"><p><strong>Alumni Association</strong></p></td>
                          <td width="18" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>Moderator</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>Rev    . Fr. Basil  C. Apostol, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="62" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                          <td width="18" valign="top"><p>&nbsp;</p></td>
                          <td width="284" valign="top"><p>&nbsp;</p></td>
                        </tr>
                      </table>
                      <p align="center"><em><a href="#top">back to top</a></em></p>
                      <p>&nbsp;</p>
                      <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td colspan="4" valign="top" bgcolor="#CCCCCC"><p align="center"><strong>ACADEMIC    DIVISION</strong></p></td>
                        </tr>
                        <tr>
                          <td colspan="4" valign="top"><p align="center">&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>Vice-President&nbsp;&nbsp;&nbsp;</strong></p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Dr.    Josefina M. Manabat</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>Graduate    School of Business</strong></p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Dr.    Ramon Ricardo A. Roque</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>Graduate    School of Law&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Rev.    Fr. Ranhilio C. Aquino</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p>&nbsp;<strong>Graduate    School of Liturgy</strong></p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Dean&nbsp;</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Dr.    Josefina M. Manabat</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>College    of Arts and Sciences</strong></p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Dr.    Tessie R. Da Jose</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Vice    Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Dr.    Christian Bryan S. Bustamante</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Associate    Vice-Dean for the Arts, Humanities<br>
                            and Sciences Cluster</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p>
                            <p>Dr.    Fedeliz S. Tuy</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Associate    Vice-Dean for the Accountancy and<br>
                            Business Cluster&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p>
                            <p>Dr.    Joffre M. Alajar</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Prefect    of Discipline and In-Charge of 4th Year</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Marie Jocelyn O. Bengco, MA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Assistant    Prefect of Discipline and In-Charge<br>
                            of&nbsp;    3rd Year</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p>
                            <p>Ms.    Delilah G. Bernardo, MAT</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Assistant    Prefect of Discipline and In-Charge &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                            of 2nd Year</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p>
                            <p>Ms.    Anna Maria Corazon J. Esguerra, MAEd</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Assistant    Prefect of Discipline and In-Charge <br>
                            of 1st Year</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p>
                            <p>Mr.    Pilipino A. Ramos, CPA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Prefect    of Student Activities</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Dr.    Marvin R. Reyes</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Assistant    Prefect of Student Activities</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Racquel P. Castro, MBA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Prefect    of Academics for Student Athletes</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Michael John Y. Rubio, CPA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>&nbsp;</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="261" valign="top"><p><strong><em>Department    Chairs:</em></strong></p></td>
                          <td width="36" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="273" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Theology</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Rev.    Fr. Angelo Ma. S. Legal, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Accountancy</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Louisita O. Aristorenas, MBA, CPA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Business    Management</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Antonino Arturo C. Manahan, DBA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Financial    Management</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Jackqui R. Moreno, CPA, MBA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Economics</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Edilberto B. Viray, Jr., MS</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Legal    Management</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Atty.    Jennifer A. Balboa-Cahig</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Marketing</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Maria Pamela G. Tendero, MBA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Information    Technology</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Ma. Luz L. Jimenez, MAT</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Psychology</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Annabel D. Quilon, Ph.D.</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Human    Biology</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Liwayway H. Acero, Ed.D.</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Social    Sciences and the Humanities</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Moses Aaron T. Angeles, Ph.D.</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Mathematics</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Francisco A. Febre, Jr., MAT</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Filipino</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Araceli T. Fernando, MAEd</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>English,    Foreign Languages and Literature</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Rowena J. Rivero, MAEd</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Human    Kinetics</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Bayani C. Matitu, Ed.D.</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Coordinator,    NSTP</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Joselito J. Tablang, MBA</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>College of Law</strong></p></td>
                          <td width="36" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="273" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Atty.    Virgilio B. Jara</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Vice-Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Atty.    Marciano G. Delson</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Prefect    of Student Affairs</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Atty.    Risel Castillo-Taleon</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Director,    Legal Aid Bureau</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Atty.    Peter-Joey B. Usita</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>College of Medicine</strong></p></td>
                          <td width="36" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="273" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Ferdinand Francis Ma. D. Cid, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Vice    Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Fernandino Jose A. Fontanilla, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Administrative    Officer</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Ronald Alfonso R. Calma, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Prefect    of Student Affairs</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Ana Marie R. Morelos, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>&nbsp;</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="261" valign="top"><p><strong><em>Department    Chairs:</em></strong></p></td>
                          <td width="36" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="273" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Clinical    Practice</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Harold Luis R. Trinidad, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Family    and Community Medicine</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Roberto L. Ruiz, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Internal    Medicine</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Norman L. Maghuyop, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Neurosciences</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Hazel L. Paragua, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Obstetrics    and Gynecology</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Margarita D. Guerrero, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Pediatrics</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Ruby L. Punongbayan, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Psychiatry</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Alma L. Jimenez, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Surgery</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Stanley U. Kho, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>&nbsp;</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong></strong></p></td>
                          <td width="261" valign="top"><p><strong><em>Year    Level Heads:</em></strong></p></td>
                          <td width="36" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="273" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p>Level    I</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Enrico Paolo C. Banzuela, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p>Level    II</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Alan T. Koa, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p>Level    III</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Regie A. Layug, MD</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p>Level    IV</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Ma. Fredelita Carreon-Asuncion, MD</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p><strong>College of Nursing</strong></p></td>
                          <td width="36" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="273" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Dean</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Febes T. Aranas, RN, MAEd, MAN</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Administrative    Officer</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Mr.    Pocholo R. Autencio, PTRP, RN, MBA</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Clinical    Coordinator</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Rebecca Salud O. Tejada, RN, MAN</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="261" valign="top"><p>Coordinator    for Student Activities and <br>
                            Discipline</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p>
                            <p>Mr.    Charles Dominick C. Bustamante, RN</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="36" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="273" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong></strong></p></td>
                          <td width="261" valign="top"><p><strong><em>Coordinators:</em></strong></p></td>
                          <td width="36" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="273" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p>Level    I</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Mary Ann A. Cubon, RN, MAN</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p>Level    II</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Joanne Mae E. Nava, RN</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p>Level    III</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Gloria V. Cruz, RN, MAN, Ed.D.</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td width="261" valign="top"><p>Level    IV</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>Ms.    Margarette C. Cayetano, RN, MAN</p></td>
                        </tr>
                        <tr>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="36" valign="top"><p>&nbsp;</p></td>
                          <td width="273" valign="top"><p>&nbsp;</p></td>
                        </tr>
                      </table>
                      <p align="center"><em><a href="#top">back to top</a></em></p>
                      <p>&nbsp;</p>
                      <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC"><p align="center"><strong>Basic Education Department</strong></p></td>
                        </tr>
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Principal</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Teresita T. Battad</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Administrative    Officer</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Cristann Victor S. Taruc</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Vice    Principals/Prefects of Academic Affairs</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>High    School</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Aurora L. Limcumpao</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Grade    School</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Edurardo D. Casilla</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Prefect    of Academics and Student Affairs for Pre-Kinder and Kinder</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p>
                            <p>Ms.    Avelina T. Tabbuac</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Prefects    of Student Affairs</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>High    school</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Dominador B. Manlincon</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Grade    School</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Leticia R. Molo</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Assistant    Prefect of Activities</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>High    School</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Josephine Adriano</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Assistant    Prefects of Discipline (High School)</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Grade    7 and Grade 8</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Cristina B. Llaban</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>3rd    Year and 4th Year</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Dante S. Salazar</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Assistant    Prefect of Activities</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Grade    School</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Victor Renato A. Cruz</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Assistant    Prefect of Discipline</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Grade    School</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Rodney G. Collera</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;</p></td>
                          <td colspan="2" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="15" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="222" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong></strong></p></td>
                          <td colspan="2" valign="top"><p><strong><em>Subject    Area Coordinators:</em></strong></p></td>
                          <td width="15" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                          <td width="222" valign="top"><p><strong><em>&nbsp;</em></strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Math</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Mercedita A. Manzano</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>English</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Charito G. Asuncion</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Christian    Living</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Virginia B. Limpot</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Science</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Sophia C. Estabillo</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Filipino</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Remedios I. Pamo</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Social    Science</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Irwin E. Edillor, II</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Technology    and Livelihood Education</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Carlo N. Gutierrez</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Physical    Education/Health</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Johnny C. Rivera</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>Music/Art</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Celeste L. Caliwara</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Social    Action Program Coordinator</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Rosalina M. Ayonon</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="117" valign="top"><p>&nbsp;</p></td>
                          <td width="216" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Registrar’s Office</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Registrar</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Maria Oliva S. Reyes</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Guidance Services</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Institutional    Coordinator of Guidance &nbsp;&nbsp;&nbsp;<br>
                            Services</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p>
                            <p>Ms.    Liezel D. Rodriguez</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head,    Centralized Admissions Center</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Liezel D. Rodriguez</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head,    College of Arts and Sciences</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Karen O. Rimando</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head,    Basic Education Department</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Benjamin P. Coloma, III</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Libraries</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Coordinator</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Rev.    Fr. Paul Ma. M. De Vera, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head,    College Library</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Rosalinda P. Robles</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head,    Basic Education Learning Resource <br>
                            Center</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p>
                            <p>Ms.    Gloria M. Melendres</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Science Laboratories</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Danilo H. Seguban</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Instructional Media Center</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Ms.    Elisa A. Galang</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC"><div align="center"><strong>SERVICES    DIVISION</strong></div></td>
                        </tr>
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Vice-President</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p>Rev. Fr. Rembert  C. Tumbali, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head,    Security Office</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Athletics Office</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Edmundo R. Badolato</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Health Services</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Dr.    Charino E. Alvez</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Motorpool</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Rev.    Fr. Bede  S. Hechanova, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Printing-Bindery Office</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Head</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Rev.    Fr. Rembert  C. Tumbali, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Officer-in-Charge</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Santiago C. Bonife, Jr.</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>SBC Heritage Center<em> (Pamanang Bedista)</em></strong></p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Very    Rev. Fr. Aloysius Ma. A. Maranan, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Shop Services and MERAS</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Officer-in-Charge</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Mr.    Maximino D. Natonton</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Pollution Control Office</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>Officer</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>Rev.    Fr. Rembert  C. Tumbali, OSB</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC"><div align="center"><strong>FINANCE    DIVISION</strong></div></td>
                        </tr>
                        <tr>
                          <td colspan="5" valign="top" bgcolor="#CCCCCC">&nbsp;</td>
                        </tr>
                        <tr>
                          <td width="80" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td colspan="2" valign="top"><p>&nbsp;</p></td>
                          <td width="15" valign="top"><p>&nbsp;</p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Vice-President</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p>Rev.    Fr. Aelred  U. Nilo, OSB</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Comptroller</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p>Ms.    Nenita A. Luna</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Accountant</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p>Ms.    Amalia L. Abustan</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td colspan="3" valign="top"><p><strong>Assistant Head, Purchasing Office</strong></p></td>
                          <td width="15" valign="top"><p><strong>&nbsp;</strong></p></td>
                          <td width="222" valign="top"><p>Rev.    Fr. Basil  C. Apostol, OSB</p></td>
                        </tr>
</table><p align="center"><em><a href="#top"><br>
                        back to top</a></em><br>
                      </p></td>
                  </tr>
                </table>
</div>
</div>