<% title "Contact San Beda College" %>

<div class="sad_form">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Contact San Beda College</h1>
<div class="story">
<table width="550" border="1" cellpadding="0" cellspacing="0">
	<tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong>COLLEGE    INFORMATION</strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Trunk    Lines</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;735-6011 to 15</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Rector-President</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2370/2120</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Academic    Division</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;3128</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Finance    Division</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2230</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Services    Division</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2710</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong>GRADUATE PROGRAMS</strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Graduate School of Business </p></td>
                <td width="284" valign="top"><p align="left">2117</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Graduate School of Law</p></td>
                <td width="284" valign="top"><p align="left">3112</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Graduate School Liturgy</p></td>
                <td width="284" valign="top"><p align="left">3110</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top"><p align="center"><strong>ACADEMIC PROGRAMS</strong></p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong><em>&nbsp;COLLEGE OF ARTS    &amp; SCIENCES</em></strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Administrative Central Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4022</p></td>
              </tr>
              <tr>
                <td valign="top"><p>&nbsp;Dean’s    Office Secretary</p></td>
                <td valign="top"><p align="left">&nbsp;4022</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Vice    Dean’s Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5310</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Assistant    Vice Dean</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5129</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Prefect    of Student Activities &amp; Discipline</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5137/5138</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Accountancy    Department</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5440</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Business    Management and Entrepreneur Department</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5128</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Information    Technology Department</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5400</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Marketing    Management Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5350</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Economics    Department</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5340</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Financial    Management Department</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5580</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Psychology    Department</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5432</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Legal    Management Department</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5320</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;General    Education Department/Faculty Room</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5122</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;National    Service Training Program (NSTP)</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2750</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Human    Kinetics Development Department</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2750</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;The    Bedan</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4117</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong><em>&nbsp;COLLEGE OF LAW </em></strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Administrative    Central Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;6122</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;BAR    OPS</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4960</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong><em>&nbsp;COLLEGE OF MEDICINE</em></strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Administrative Central Office </p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4120</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Prefect    of Student Affairs</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4120</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Central    Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4520/4116</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong><em>&nbsp;COLLEGE OF NURSING</em></strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Administrative    Officer</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4131</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Prefect    of Student Affairs</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4890</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Student    Council</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4800</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong>GUIDANCE SERVICES</strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;College of Law Guidance Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;6124</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;College    of Medicine/Nursing </p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4410</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;CAS    Guidance Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;736-5312</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;&nbsp;&nbsp;CAS Guidance Central Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5118</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;&nbsp;&nbsp;CAS Guidance Extension Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5920</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong>OFFICES</strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Admissions    Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;3117</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Alumni    Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2740</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Athletics    Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2104</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Book    Store</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2730/2126</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Campus    Ministry</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;6111</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Campus    Network Administrator’s Office </p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4058</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Community Involvement     Center </p></td>
                <td width="284" valign="top"><p align="left">&nbsp;3136</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Human    Resource Management Officer</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5550</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;&nbsp;&nbsp;HRM Secretary</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2116</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Instructional    Media Center</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2550/2127</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;&nbsp;&nbsp;IMC Extension</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5540</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Medical/Dental    Clinic</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2720/2131</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Public    Relations Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2141</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Purchasing    Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;3018/2105</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Purchasing Officer</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2123</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Registrar Central Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2198</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Research    Planning and Resource Development Center (RPRDC)</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2103</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Security    Operations Officer </p></td>
                <td width="284" valign="top"><p align="left">&nbsp;1170</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Security    Main Gate</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2146</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong>LIBRARY</strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Coordinator    of Libraries</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;6135</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;College    Librarian</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;6135</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Graduate     School of Business</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5300</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Graduate     School of Liturgy</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5300</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Graduate     School of Law</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5300</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;College     of Law Library</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;6510</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;College of Medicine/Nursing </p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4480</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;College     of Arts and Sciences    Library</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5135</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Acquisitions Office</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5110</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Periodical Section</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;5640</p></td>
              </tr>
              <tr>
                <td colspan="2" valign="top" bgcolor="#CCCCCC"><p align="center"><strong>LABORATORIES</strong></p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Bedanet    Station</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;4058</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Science    Laboratory</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2139</p></td>
              </tr>
              <tr>
                <td width="284" valign="top"><p>&nbsp;Science Laboratory Extension</p></td>
                <td width="284" valign="top"><p align="left">&nbsp;2280</p></td>
              </tr>
</table>
</div>
</div>