<% title "About the Developers" %>

<div class="sad_form">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>About the Developers</h1>


<table>
<tr><th> James Kenneth David</th>
<th>The System Analyst</th></tr>
<tr><th><img src="../images/devdavid.jpg" /></th>
	<td style="padding:15px">System analyst is a hard job to do. BUT to James David is not! the developers treat his residence as the "Camp Big Falcon" (Voltes V) or the HQ of the team. James David is a strong hearted System analyst able to analyze every step if the team is on the right track or not. But what the team like most is that James David is able to reach out every member of the group with utmost help.</td></tr>

<tr><td><br><br></td>
	<td><br><br></td></tr>

<tr><th> Dexter Ancheta</th>
<th>The Programmer</th></tr>

<tr><th><img src="../images/devancheta.jpg" /></th>
	<td style="padding:15px">The Programmer is the heart and soul of the team. With his great skills in weaving "Rails" , The group was able to make a good system. Dexter Ancheta is the combination of kind and Awesome, he is so good he is the Programmer / Web Designer / Data Admin / System analyst!</td></tr>

<tr><td><br><br></td>
	<td><br><br></td></tr>

<tr><th> Gabrielle Jean Pacer</th>
<th>The Web Designer</th></tr>

<tr><th><img src="../images/devpacer.jpg" /></th>
	<td style="padding:15px"> Gabrielle Pacer, The Web Designer likes to keep everything simple yet exciting. Simple in a sense that users tend to get comfortable easily with the designs. But sometimes with his playful mind he is able to put a smile on the persons face when he or she see what Gabrielle Pacer designed.</td></tr>

<tr><td><br><br></td>
	<td><br><br></td></tr>

<tr><th> Martin Adriel Templonuevo</th>
<th>The Database Manager</th></tr>

<tr><th><img src="../images/devtemplo.jpg" /></th>
	<td style="padding:15px">Martin Adriel is a well- rounded person. He has fully developed to become a better man. A man that has immense and strong dreams, a man that has cognizant towards the importance of education, a man that value friendship like his life and a man that is geared towards his family.</td></tr>

<tr><td><br><br></td>
	<td><br><br></td></tr>

<tr><th> Jude Riel Vicencio</tH>
<th>The Junior Database Manager</th></tr>

<tr><th><img src="../images/devvicencio.jpg" /></th>
	<td style="padding:15px"> Jude Vicencio, the Junior Database admin, with Martin Adriel R. Templonuevo on his side they are surely able to dish out Database techniques like no other!</td></tr>

<tr><td><br><br></td>
	<td><br><br></td></tr>

<tr><th> Kim Balagtas</th>
	<th>The Junior Web Designer</th></tr>

	<tr><th><img src="../images/devbal.jpg" /></th>
	<td style="padding:15px">Young man that has a lot of dreams. Always aiming to move forward. He can accept failure, because everyone fails at something. But he won't accept not trying.</td></tr>

</table>

</div>


</div>