<% title "Policies" %>

<div class="sad_form">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Policies</h1>
<p>This module is exclusively  for department chairpersons, faculty members, and CAS staff only. Modules included are:</p>
<ul>
<li>Faculty Load</li>
<li>Scheduling of Subjects</li>
<li>Messaging</li>

</ul>

</div>


</div>