<% title "Home" %>

<h1><%= yield(:title) %></h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>CAS Online Scheduling System</h1>
<div class="story" style="margin:20px; width:640px">
CAS Online Scheduling System offers college department chairpersons and the entire board of school officials the service of convenient schedule generation for an entire semester. With the expert design of a group of IT students under the supervision of the San Beda College IT department chairperson, Mrs. Maria Luz Jimenez, the system will ensure the most modern way of the process of making schedules for the College of Arts and Sciences.
<br>
<br>
<img src="../images/images.jpg" width="640px" alt=""  />
</div>